[submodule "plugin/naive/src/main/jni/naiveproxy"]
	path = plugin/naive/src/main/jni/naiveproxy
	url = https://github.com/klzgrad/naiveproxy
[submodule "plugin/brook/src/main/go/brook"]
	path = plugin/brook/src/main/go/brook
	url = https://github.com/txthinking/brook
[submodule "plugin/hysteria2/src/main/go/hysteria2"]
	path = plugin/hysteria2/src/main/go/hysteria2
	url = https://github.com/apernet/hysteria
[submodule "library/core"]
	path = library/core
	url = https://github.com/dyhkwong/LibSagerNetCore
[submodule "plugin/mieru/src/main/go/mieru"]
	path = plugin/mieru/src/main/go/mieru
	url = https://github.com/enfein/mieru
[submodule "plugin/juicity/src/main/go/juicity"]
	path = plugin/juicity/src/main/go/juicity
	url = https://github.com/juicity/juicity
[submodule "plugin/hysteria/src/main/go/hysteria"]
	path = plugin/hysteria/src/main/go/hysteria
	url = https://github.com/MatsuriDayo/hysteria
[submodule "plugin/tuic/src/main/rust/tuic"]
	path = plugin/tuic/src/main/rust/tuic
	url = https://github.com/EAimTY/tuic
[submodule "plugin/tuic5/src/main/rust/tuic5"]
	path = plugin/tuic5/src/main/rust/tuic5
	url = https://github.com/EAimTY/tuic
[submodule "plugin/shadowtls/src/main/rust/shadowtls"]
	path = plugin/shadowtls/src/main/rust/shadowtls
	url = https://github.com/ihciah/shadow-tls
[submodule "plugin/trojan-go/src/main/go/trojan-go"]
	path = plugin/trojan-go/src/main/go/trojan-go
	url = https://github.com/p4gefau1t/trojan-go
